# Node
/frontend/node_modules
/frontend/.next
/frontend/.env

# Python
/backend/venv
/backend/__pycache__
**/__pycache__/
/backend/.env

# OS/system
.DS_Store
Thumbs.db

# VSCode/Cursor
.vscode
.idea

/frontend/.env.local
node_modules
node_modules

